<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="7.4" name="Fedora-38.0_appliance">
    <description type="system">
        <author>Andrew W. Macpherson</author>
        <contact>mail@awmacpherson.com</contact>
        <specification>Fedora 39 Appliance</specification>
    </description>
    <profiles>
        <profile name="Live" description="Live image"/>
    </profiles>
    <preferences>
        <version>1.0.0</version>
        <packagemanager>dnf</packagemanager>
        <locale>en_US</locale>
        <keytable>us</keytable>
        <timezone>UTC</timezone>
        <rpm-check-signatures>false</rpm-check-signatures>
    </preferences>
    <preferences profiles="Live">
        <type image="kis" filesystem="squashfs"/>
    </preferences>
    <users>
        <user password="$6$KYB00jA.jgaG6g7q$h59VHRQbwk9vnHzwyu53ZEUfUVKf.Veljn269vnVxCcqFCuOytvuA/Ys20puoOrbWACSmc5mLvjr9yztrcKmP." home="/root" name="root" groups="root"/>
    </users>
    <repository type="rpm-md" alias="Fedora39" sourcetype="metalink">
	<source path="https://mirrors.fedoraproject.org/metalink?repo=fedora-39&amp;arch={{arch}}"/>
    </repository>
    <repository type="rpm-md" alias="Fedora39-updates" sourcetype="metalink">
	<source path="https://mirrors.fedoraproject.org/metalink?repo=updates-released-f39&amp;arch={{arch}}"/>
    </repository>
    <packages type="image">
        <package name="kernel"/>
        <package name="selinux-policy-targeted"/>
        <package name="iproute"/>
        <package name="iputils"/>
        <package name="systemd"/>
        <package name="systemd-networkd"/>
        <package name="systemd-resolved"/>
        <package name="neovim"/>
        <package name="tzdata"/>
        <package name="squashfs-tools"/>
        <package name="tar"/>
        <package name="dhclient"/>
        <package name="podman"/>
        <package name="fuse-overlayfs"/>
	<package name="gnome-shell"/>
        <package name="gnome-session"/>
        <package name="gnome-control-center"/>
        <package name="gnome-terminal"/>
        <package name="nautilus"/>
        <package name="gdm"/>
    </packages>
    <packages type="bootstrap">
        <package name="glibc-minimal-langpack"/>
        <package name="glibc-langpack-en"/>
        <package name="filesystem"/>
        <package name="basesystem"/>
    </packages>
</image>
