<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.8" name="Fedora-38.0_appliance">
    <description type="system">
        <author>Andrew W. Macpherson</author>
        <contact>mail@awmacpherson.com</contact>
        <specification>Fedora 39 Appliance</specification>
    </description>
    <profiles>
        <profile name="Live" description="Live image"/>
    </profiles>
    <preferences>
        <version>1.0.0</version>
        <packagemanager>apt</packagemanager>
        <locale>en_US</locale>
        <keytable>us</keytable>
        <timezone>UTC</timezone>
    </preferences>
    <preferences profiles="Live">
        <type image="kis" filesystem="squashfs"/>
    </preferences>
    <users>
        <user password="$6$KYB00jA.jgaG6g7q$h59VHRQbwk9vnHzwyu53ZEUfUVKf.Veljn269vnVxCcqFCuOytvuA/Ys20puoOrbWACSmc5mLvjr9yztrcKmP." home="/root" name="root" groups="root"/>
    </users>
    <repository type="apt-deb" distribution="bookworm" repository_gpgcheck="false">
	<source path="http://deb.debian.org/debian"/>
    </repository>
    <packages type="image">
        <package name="net-tools"/>
        <package name="iproute2"/>
        <package name="iputils-ping"/>
        <package name="systemd"/>
        <package name="systemd-resolved"/>
        <package name="neovim"/>
        <package name="tzdata"/>
        <package name="squashfs-tools"/>
        <package name="tar"/>
        <package name="isc-dhcp-client"/>
        <package name="podman"/>
        <package name="fuse-overlayfs"/>
    </packages>
    <packages type="bootstrap">
        <package name="apt"/>
        <package name="locales"/>
    </packages>
</image>
