[Unit]
Description=EthSwarm bee node
After=network-online.target

[Service]
ExecStart=podman run -p 1633:1633 -p 1634:1634 -p 1635:1635 \
docker.io/ethersphere/bee:latest start --password=deboot --swap-enable=false --full-node=false
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
