title {{ name }}
version {{ kernel }}
linux /vmlinuz
initrd /initramfs
options root=live:bzz://{{ hash }} consoleblank=0 systemd.show_status=true crashkernel=auto no_timer_check console=tty1 console=ttyS0,115200n8
