{% for entry in entries %}
menuentry "{{entry.desc}}" --class swarm --class deboot --id {{entry.id}} {
  search.fs_label DEBOOT root
  linux /vmlinuz root=live:bzz://{{entry.id}} console=ttyS0 console=tty1 panic=1
  initrd /initramfs
}

menuentry "TEST {{entry.desc}}" --class swarm --class deboot --id {{entry.id}} {
  search.fs_label DEBOOT root
  linux /vmlinuz root=live:bzz://{{entry.id}} console=ttyS0 console=tty1 panic=1
  initrd /initramfs
}
{% endfor %}

menuentry "UEFI Firmware setup" {
  fwsetup
}
